* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
} /* Temp */

.main__login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Avenir Next";
  font-weight: 500;
}

.login-container__logo {
  width: auto;
  height: 41px;
}

.login-form__field {
  position: relative;
}

.field__input,
.field__label,
.login-container__obstacle {
  color: #8b959e;
}

.field__input,
.field__submit {
  width: 305px;
  height: 46px;
  padding: 8px 28px;
  font-size: 22px;
}

.login-form__field,
.login-container__logo {
  margin-bottom: 48px;
}

.field__input {
  border: 2px solid #8b959e;
  border-radius: 23px;
}

.field__input:focus {
  outline: none;
  border-color: #1488cc;
  color: #1488cc;
}

.field__input:focus::placeholder {
  color: #1488cc;
}

.field__border-overlay {
  background: #fff;
  width: 0px;
  height: 5px;
  position: absolute;
  left: 26px;
  top: 0;
  transition: all ease-in-out 0.15s;
}

.field__border-overlay--delay {
  transition-delay: 0.175s;
}

.field__border-overlay--focused {
  width: 120px;
}

.field__label {
  padding: 0 4px;
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 22px;
  font-weight: 400;
  pointer-events: none;
  transition: all ease-in-out 0.25s;
}

.field__label--focused {
  top: 0px;
  font-weight: 500;
  font-size: 16px;
}

.field__submit {
  margin-bottom: 24px;
  text-align: center;
  border-radius: 50px;
  background-color: #1488cc;
  color: #fff;
  cursor: pointer;
}

.login-container__obstacle {
  font-size: 15px;
}

.obstacle__contact {
  color: #1488cc !important;
}
