* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
} /* Temp */

.main__login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Avenir Next";
  font-weight: 500;
}

.login-container__logo {
  width: auto;
  height: 41px;
}

.login-container__obstacle {
  color: #8b959e;
}

.field__input,
.field__submit {
  width: 305px;
  height: 46px;
  padding: 8px 28px;
  font-size: 22px;
}

.login-form__field,
.login-container__logo {
  margin-bottom: 47px;
}

.field__input {
  border: 2px solid #8b959e;
  border-radius: 23px;
}

.field__submit {
  margin-bottom: 24px;
  text-align: center;
  border-radius: 50px;
  background-color: #1488cc;
  color: #fff;
  cursor: pointer;
}

.login-container__obstacle {
  font-size: 15px;
}

.obstacle__contact {
  color: #1488cc !important;
}
