.header__icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-top: 25px;
}

.main__button--schedule {
  padding: 9px 25px;
}

.main {
  padding: 10px 18px;
}

.main__button > div {
  width: 55px;
  padding-right: 19.5px;
  margin-right: 19.5px;
  border-right: 1px solid #fff;
}
