* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  font-family: "Avenir Next";
}

.header {
  padding-top: 36px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin-left: 17px;
  font-size: 28px;
  font-weight: 600;
  color: #676767;
}

.header__settings {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 17px;
}

.main__profile {
  padding: 15px 17px;
}

.main__profile > figure {
  display: flex;
  align-items: center;
}

.profile__user-icon {
  width: 79px;
  height: 79px;
  margin-right: 38px;
}

.profile__name {
  font-size: 28px;
  font-weight: 600;
  color: #676767;
}

.profile__category {
  padding: 2px 0;
  font-size: 16px;
  font-weight: 500;
  color: #1488cc;
}

.profile__category--type {
  border: 1px solid #1488cc;
  border-radius: 4px;
  padding: 0px 5px;
  margin-right: 7px;
}

.main__timeline {
  padding: 17px;
}

.timeline__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #676767;
}

.timeline__item {
  padding: 13px 20px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.timeline__item--passed {
  background-image: linear-gradient(to top right, #a8e063, #56ab2f);
}

.timeline__item--warning {
  background-image: linear-gradient(to top right, #ff416c, #eb3349);
}

.timeline__item--waiting {
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.item__title {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}

.item__status {
  font-size: 13px;
  color: #fff;
}

.item__icon {
  width: 26px;
  height: 26px;
  margin-right: 19px;
}
