.modal__event--type {
  width: 222px !important;
}

.modal__event--number {
  width: 72px !important;
}

.modal--big {
  height: 468px;
}

.modal__input--right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 158px;
  margin-right: -12px;
  padding-right: 12px;
}

.modal__instructor--student {
  width: 280px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #8b959e;
  color: #676767;
  font-size: 17px;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.modal__instructor--student p {
  margin: 0;
}

.modal__icon--delete {
  position: absolute;
  top: 8px;
  right: 10px;
}
