/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 58px;
  box-shadow: #e4e4e4 0 0 30px;
  background-color: white;
  z-index: 1;
}

.nav__hamburger {
  width: 29px;
  height: 27.6px;
  margin-left: 10px;
}

.nav__checklist {
  width: 25.2px;
  height: 32.2px;
}

.nav__car {
  width: 36px;
  height: 24.48px;
}

.nav__profile {
  width: 26.1px;
  height: 32.08px;
  margin-right: 10px;
}

.nav__hamburger--admin {
  margin-left: 0;
}

.nav__car--admin {
  margin-left: 10px;
}
/* Navigation */
