.main__button--big {
  margin-top: 20px;
  width: 380px;
  /* height: 120px; */
  height: 74px;
  border-radius: 17px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

.main__button--text {
  position: absolute;
  left: 113px;
  height: 42px;
}

.main__button--text h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.main__button--text p {
  font-size: 11px;
}

.main__button--images {
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.main__button--car {
  width: 34px;
  height: 23px;
  margin-left: 21px;
}

.main__button--bus {
  width: 31.28px;
  height: 31.28px;
  margin-left: 6px;
}

.main__button--heart {
  width: 43px;
  height: 38.64px;
  margin-left: 29px;
}

.bc-blue {
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.bc-red {
  background-image: linear-gradient(to top right, #ff416c, #eb3349);
}

@media screen and (min-width: 1000px)
{
  main {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main__button--big {
    width: 450px;
    height: 80px;
  }

  .main__button--big h3{
    font-size: 22px;
  }

  .main__button--big p{
    font-size: 14px;
  }
}

@media screen and (min-width: 1300px)
{
  main{
    width: 1135px;
    padding: 0;
  }

  .main__button--big {
    width: 547px;
    height: 114px;
  }

  .main__button--big h3{
    font-size: 26px;
  }

  .main__button--big p{
    font-size: 16px;
  }
}