.school--name {
  font-size: 27px;
  color: #8b959e;
  font-weight: 500;
  display: inline-block;
}

.main__button--admin {
  width: 367px;
  margin-top: 0;
  margin-bottom: 20px;
}

.main__button--admin--text {
  position: relative;
  left: 20px;
}

@media screen and (min-width: 1000px)
{
  .profile__user-icon--admin {
    height: 74px;
    width: 74px;
  }

  .button__info--admin {
    width: 800px;
  }
}

@media screen and (min-width: 1200px)
{
  .button__info--admin {
    width: 1000px;
  }
}