* {
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  text-decoration: none !important;
  font-family: "Avenir Next", sans-serif !important;
}

.container {
  margin-bottom: 48px;
  overflow-x: hidden;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000085;
  z-index: 2;
  top: 0;
  left: 0;
}

/* Header */
.header--alt {
  justify-content: flex-start !important;
}

.header__title {
  color: #8b959e;
  margin-top: 36px;
  margin-left: 3px;
  font-size: 28px;
  display: inline-block;
  font-weight: 600;
}

.header__title--blue {
  color: #1488cc;
  margin-left: 12px;
}

.header__arrow {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.header--instructors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__button {
  margin-top: 20px;
  width: 380px;
  height: 74px;
  border-radius: 17px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.main__button--arrow {
  position: absolute;
  right: 24.5px;
  /* height: 19px;
  width: 19px; */
}

.main__candidate {
  display: flex;
  margin-bottom: 23px;
}

.candidate__icon {
  width: 74px;
  height: 74px;
  border-radius: 14px;
  margin-right: 20px;
}

.main__candidate > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 285px;
  height: 74px;
  padding: 11px 19px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.candidate__name {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}

.candidate__lessons {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.main__button--free {
  background-image: none;
  border: 1px solid #1488cc;
}

.main__button--free span,
.main__button--free p {
  color: #1488cc;
}

.main__button--free div {
  border-right: 1px solid #1488cc !important;
}

.button__date {
  font-size: 22px;
  color: #fff;
}

.button__month {
  font-size: 16px;
  color: #fff;
}

/* Main */

.d-none {
  display: none;
}

.c-blue {
  color: #1488cc !important;
}

.brc-blue {
  border-right-color: #1488cc !important;
}

.mb-20px {
  margin-bottom: 20px;
}

.pl-8px {
  padding-left: 8px !important;
}

.o-hidden {
  overflow: hidden;
}

/* Form */

.field__input,
.field__label {
  color: #8b959e;
}

.field__input:focus {
  outline: none;
  border-color: #1488cc;
  color: #1488cc;
}

.field__input:focus::placeholder {
  color: #1488cc;
}

.form__field {
  position: relative;
}

.field__error {
  color: red;
  position: absolute;
  bottom: -26px;
  left: 18px;
}

.field__border-overlay {
  background: #fff;
  width: 0px;
  height: 5px;
  position: absolute;
  left: 26px;
  top: 0;
  transition: all ease-in-out 0.15s;
}

.field__border-overlay--delay {
  transition-delay: 0.175s;
}

.field__border-overlay--focused {
  width: 120px;
}

.field__border-overlay--pl-8px {
  left: 8px;
}

.field__label {
  padding: 0 4px;
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 22px;
  font-weight: 400;
  pointer-events: none;
  transition: all ease-in-out 0.25s;
}

.field__label--pl-10px {
  left: 10px;
}

.field__label--fs-17px {
  font-size: 17px;
}

.field__label--focused {
  top: 0px;
  font-size: 16px;
}

.field__label--focused--fs-14px {
  font-size: 14px;
}
