* {
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  /* font */
}

/* Header */
.header__title {
  color: #676767;
  margin-top: 36px;
  margin-left: 5px;
  font-size: 28px;
  display: inline-block;
  font-weight: 600;
}

.header__title--blue {
  color: #1488cc;
  margin-left: 12px;
}

.header__arrow {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
/* Header */

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__button {
  margin-top: 20px;
  width: 380px;
  height: 74px;
  border-radius: 17px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.main__button--arrow {
  position: absolute;
  right: 24.5px;
  /* height: 19px;
  width: 19px; */
}
/* Main */
