* {
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  text-decoration: none !important;
  font-family: "Avenir Next", sans-serif !important;
}

.container {
  margin-bottom: 48px;
  overflow-x: hidden;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000085;
  z-index: 2;
  top: 0;
  left: 0;
}

/* Header */
.header--alt {
  justify-content: flex-start !important;
}

.header__title {
  color: #8b959e;
  margin-top: 36px;
  margin-left: 3px;
  font-size: 28px;
  display: inline-block;
  font-weight: 600;
}

.header__title--blue {
  color: #1488cc;
  margin-left: 12px;
}

.header__arrow {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.header--instructors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__button {
  margin-top: 20px;
  width: 380px;
  height: 74px;
  border-radius: 17px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.main__button--arrow {
  position: absolute;
  right: 24.5px;
  /* height: 19px;
  width: 19px; */
}

.main__candidate {
  display: flex;
  margin-bottom: 23px;
}

.candidate__icon {
  width: 74px;
  height: 74px;
  border-radius: 14px;
  margin-right: 20px;
}

.main__candidate > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 285px;
  height: 74px;
  padding: 11px 19px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top right, #1488cc, #2b32b2);
}

.candidate__name {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}

.candidate__lessons {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.main__button--free {
  background-image: none;
  border: 1px solid #1488cc;
}

.main__button--free span,
.main__button--free p {
  color: #1488cc;
}

.main__button--free div {
  border-right: 1px solid #1488cc !important;
}

.button__date {
  font-size: 22px;
  color: #fff;
}

.button__month {
  font-size: 16px;
  color: #fff;
}

/* Main */

.d-none {
  display: none;
}

.c-blue {
  color: #1488cc !important;
}

.brc-blue {
  border-right-color: #1488cc !important;
}

.mb-20px {
  margin-bottom: 20px;
}

.pl-8px {
  padding-left: 8px !important;
}

.o-hidden {
  overflow: hidden;
}

/* Calendar */

.react-calendar {
  border: none !important;
  box-shadow: #d3d2d2 0 0 15px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.react-calendar__navigation {
  margin-bottom: 0 !important;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  text-align: center;
  color: #1488cc !important;
  font-weight: 600;
  background-color: transparent !important;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

abbr {
  color: rgba(0, 0, 0, 0.7) !important;
}

.react-calendar__tile abbr {
  font-size: 15px;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: #8b959e !important;
}

.react-calendar__tile {
  border: 3px solid white !important;
  border-radius: 20%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active {
  background: #1489cc98 !important;
}

.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr,
.react-calendar__tile--active abbr {
  color: white !important;
  font-weight: 600;
}

.react-calendar__tile:disabled abbr {
  color: #8b959e !important;
}

.react-calendar__month-view__days__day--weekend abbr {
  color: #d10000 !important;
}
